@model GuildCars.UI.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}


<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Change Password</h2>
    </div>
</div>
<div class="col-xs-12 col-md-6">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="OldPassword" class="col-md-2 control-label">Old Password</label>
                        <div class="col-md-10">
                            <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NewPassword" class="col-md-2 control-label">New Password</label>
                        <div class="col-md-10">
                            <input type="password" id="NewPassword" name="NewPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword" class="col-md-2 control-label">Confirm Password</label>
                        <div class="col-md-10">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
    }
</div>



