
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-xs-12 col-md-6">
        <h2>Reports</h2>
        <p>@Html.ActionLink("Inventory Report", "Inventory", "Reports", null)</p>
        <p>@Html.ActionLink("Sales Report", "Sales", "Reports", null)</p>
    </div>
</div>
